<section class="center_section">
	<section class="post_section">

		<section class="left_section">
			<% @photos.where(post_id: @post.id).each do |photo| %>
			<img src="<%= photo.url %>" width="700">
			<% end %>
		</section>

		<section class="right_section">
			<a class="post_link" href="/posts/<%= @post.id %>">
				<h2 class="post_title">
					<%= @post.title %>
				</h2>
			</a>
			<section class="post_content">
				<p><%= @post.content %></p>
				<p><%= @post.editor_id %></p>
				<p><%= @post.created_at %></p>
			</section>
		</section>


	</section>
</section>