<section class="post_section">

	<h2 class="post_title">
		<%= post.title %>
	</h2>

	<% @photos.where(id: post.editor_id).each do |photo| %>
	<img src="<%= photo.url %>">
	<% end %>

	<section class="post_content">
		<p><%= post.content %></p>
		<p><%= post.editor_id %></p>
		<p><%= post.created_at %></p>
	</section>

</section>